<!DOCTYPE html>
<html lang="zh">
<base href="../wap/">


<!--
<html>

<meta http-equiv="refresh" content="2;url=/huike">
<title>鲁虺文化网 http://www.luhui.net Luhui culture network international website Loading ....</title>
</head>

<body style="font-family: 宋体; font-size: 9pt">

<p>数据加载过程中 ...<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Loading ...</p>

</body>
</html>
-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="./assets/css/fonts/fontawesome/css/font-awesome.min.css">
	<meta name="author" content="viggo" />
  <title>鲁虺模板 HTML5 template 标签元素✿HTML模板❀HTML5模板|template资源导航|网页模板图表等设计素材免费下载</title>
	<script src="http://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="http://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <meta name="keywords" content="鲁虺模板,HTML,HTML5模板,HTML5素材,HTML5资源,HTML5下载,HTML5合集,简约HTML5,商务HTML5,欧美HTML5,HTML5资源导航,HTML5设计,HTML5教程,HTML5美化,设计师导航">
    <meta name="description" content="鲁虺文化网收集整理调试推荐的HTML5设计相关网站，为你的HTML5设计提供创意灵感、配色方案、免费图片、优质图标、工具插件等">	<link href="http://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">	<meta property="og:title"
	content="鲁虺探索频道,资源探索更新,鲁虺软件源码数据 - 敏锐洞察行业动态，深度挖掘新思维">
	<meta property="og:description"
	content="鲁虺探索频道,资源探索更新,鲁虺软件源码数据 保持敏锐的行业洞察，深度挖掘并探索新的思维模式。带你走进AI的世界，轻松掌握AI的最新动态，提升你的AI技能。">
	<meta property="og:image"	content="./assets/images/AiMapProOg.jpg">
	<meta property="og:type" content="website">
	<meta property="og:url" content="http://www.luhui.net">
	<meta property="og:site_name" content="鲁虺探索频道,资源探索更新,鲁虺软件源码数据">

	<!-- Twitter Cards -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="鲁虺探索频道,资源探索更新,鲁虺软件源码数据 - 敏锐洞察行业动态，深度挖掘新思维">
	<meta name="twitter:description"
	content="鲁虺探索频道,资源探索更新,鲁虺软件源码数据 保持敏锐的行业洞察，深度挖掘并探索新的思维模式。带你走进AI的世界，轻松掌握AI的最新动态，提升你的AI技能。">
	<meta name="twitter:image" content="./assets/images/AiMapProOg.jpg">
	<link rel="shortcut icon" href="./assets/images/favicon.png">
	<link rel="stylesheet" href="./assets/css/fonts/linecons/css/linecons.css">
	<link rel="stylesheet" href="./assets/css/bootstrap.css">
	<link rel="stylesheet" href="./assets/css/article.css">
	<link rel="stylesheet" id="theme-css" href="./assets/css/xenon-core.css">
	<link rel="stylesheet" href="./assets/css/xenon-components.css">
	<link rel="stylesheet" href="./assets/css/xenon-skins.css">
	<link rel="stylesheet" href="./assets/css/nav.css">
	<script src="./assets/js/jquery-1.11.1.min.js"></script>
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


</head>

<body class="page-body">
	<!-- skin-white -->
	<div class="page-container">
		<div class="sidebar-menu toggle-others fixed" id="sidebar-top" style="height: 60px">
<div class="sidebar-menu-inner">
	<header class="logo-env">
		<!-- logo -->
		<div class="logo">
<a href="index.html" class="logo-expanded">
	<img src="./assets/images/logo@4x.png" width="100%" alt="" />
</a>
<a href="index.html" class="logo-collapsed">
	<img src="./assets/images/logo-collapsed@2x.png" width="40" alt="" />
</a>
		</div>
		<button class="menu-toggle" style="border: none; background-color: transparent;">
		    <i class="fas fa-bars"></i>
		</button>	
	</header>
	<ul id="main-menu" class="main-menu">
		<li>
<a href="cultural.html">
	<i class="linecons-desktop"></i>
	<span title="文化传媒" class="tooltip-blue">文化传媒</span>
</a>
		</li>
		<li>
<a  href="neuralnetwork.html">
	<i class="linecons-search"></i>
	<span title="神经网络" class="tooltip-blue">神经网络</span>
</a>
		</li>
		<li>
<a href="artificialemotions.html">
	<i class="linecons-photo"></i>
	<span title="人工情感" class="tooltip-blue">人工情感</span>
</a>
		</li>
		<li>
<a href="designIntelligence.html">
	<i class="linecons-tag"></i>
	<span title="设计智造" class="tooltip-blue">设计智造</span>
</a>
		</li>
		<li class="active">
<a href="/template/">
	<i class="linecons-doc"></i>
	<span title="模板频道" class="tooltip-blue">模板频道</span>
</a>
		</li>
		<li>
<a href="lifeservices.html">
	<i class="linecons-calendar"></i>
	<span title="生活服务" class="tooltip-blue">生活服务</span>
</a>
		</li>
		<li>
<a href="searchengines.html">
	<i class="linecons-params"></i>
	<span title="搜索引擎" class="tooltip-blue">搜索引擎</span>
</a>
		</li>
		<li>
<a href="about.html">
	<i class="linecons-user"></i>
	<span title="关于我们" class="tooltip-blue">关于我们</span>
</a>
		</li>
	</ul>
		</div>
	</div>
	
	<div class="sidebar-wrapper">
		<div id="sidebar">
<div class="sidebar-header">
	<button class="close"><i class="fas fa-times"></i></button>
</div>
<ul id="main-menu" class="main-menu">
	<li>
		<a href="cultural.html">
<i class="linecons-desktop"></i>
<span title="文化传媒" class="tooltip-blue">文化传媒</span>
		</a>
	</li>
	<li>
		<a  href="neuralnetwork.html">
<i class="linecons-search"></i>
<span title="神经网络" class="tooltip-blue">神经网络</span>
		</a>
	</li>
	<li>
		<a href="artificialemotions.html">
<i class="linecons-photo"></i>
<span title="人工情感" class="tooltip-blue">人工情感</span>
		</a>
	</li>
	<li>
		<a href="designIntelligence.html">
<i class="linecons-tag"></i>
<span title="设计智造" class="tooltip-blue">设计智造</span>
		</a>
	</li>
	<li class="active">
		<a href="/template/">
<i class="linecons-doc"></i>
<span title="模板频道" class="tooltip-blue">模板频道</span>
		</a>
	</li>
	<li>
		<a href="lifeservices.html">
<i class="linecons-calendar"></i>
<span title="生活服务" class="tooltip-blue">生活服务</span>
		</a>
	</li>
	<li>
		<a href="searchengines.html">
<i class="linecons-params"></i>
<span title="搜索引擎" class="tooltip-blue">搜索引擎</span>
		</a>
	</li>
	<li>
		<a href="about.html">
<i class="linecons-user"></i>
<span title="关于我们" class="tooltip-blue">关于我们</span>
		</a>
	</li>
</ul>
		</div>
	</div>
<div class="main-content">

<script src="/js/header.js#/search/js/link.js"></script>

<div id="main-contents">
	<div class="topbar">
	
		<div class="slideshow-hi-wrapper">
		        <i class="fa fa-search"></i>
		        <input type="text" id="search-input" placeholder="搜索">
		</div>
<!-- 公告轮动 -->
		<div id="announcement-container"></div>
	</div>
	<!-- 推荐

	<div id="rss-feeds"></div>

	<div class="sk-folding-cube" id="loading">
	  <div class="sk-cube1 sk-cube"></div>
	  <div class="sk-cube2 sk-cube"></div>
	  <div class="sk-cube4 sk-cube"></div>
	  <div class="sk-cube3 sk-cube"></div>
	</div> -->



<h3 title="鲁虺网络模板资源" class="text-gray">🧭鲁虺网络模板资源</h3>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12">

  </tr>

	<h4 title="所有资源" id="category-title">所有资源</h4>
	<div class="category-buttons-container">
	  <button class="category-button" title="兴趣研究" data-label="兴趣研究">模板资源</button>
	  <button class="category-button" title="模板合集" data-label="模板合集">模板合集</button>
	  <button class="category-button" title="素材" data-label="素材">模板素材</button>
	  <button class="category-button" title="插件" data-label="插件">模板插件</button>
	  <button class="category-button" title="达人" data-label="达人">模板达人</button>
	  <button class="category-button" title="后端" data-label="后端">后端模板</button>
	  <button class="category-button" title="配色" data-label="配色">模板配色</button>
	  <button class="category-button" title="图片" data-label="图片">图片模板</button>
	  <button class="category-button" title="psd" data-label="psd">psd模板</button>
	  <button class="category-button" title="背景" data-label="背景">模板背景</button>
	  <button class="category-button" title="ppt模板" data-label="ppt模板">ppt模板</button>
	  <button class="category-button" title="生成" data-label="生成">模板生成</button>
	  <button class="category-button" title="工具" data-label="工具">模板工具</button>
	  <button class="category-button" title="测评" data-label="测评">模板测评</button>
	  <button class="category-button" title="模板翻译" data-label="模板翻译">模板翻译</button>
	  <button class="category-button" title="模板授权" data-label="模板授权">模板授权</button>
	  <button class="category-button" title="字体" data-label="字体">字体</button>
	</div>	
	















<div class="searchtopbar">
<div class="searchslideshow-hi-wrapper"> 




<!--此方法可以自动获取调用网址来源-->
<script>var yreflocation_html=document.location.href;</script><script>var url="<iframe allowTransparency=true border=0 align=center vspace=0  hspace=0 name=searchbar marginwidth=0 marginheight=0 framespacing=0 frameborder=0 scrolling=no width=100% height=60";url+='  src="/search/code46840.htm?url='+escape(yreflocation_html)+'"></iframe>';document.write(url);</script>

<!--不可获取调用网址来源
<IFRAME marginWidth=0 marginHeight=0 src="/search/code46840.htm" frameBorder=0 width=100% scrolling=no height=60></IFRAME>


<table border="1" width="100%" id="table1" style="border-width: 0px">
	<tr>
		<td style="border-style: none; border-width: medium" width="319">  <form action="/webhp/one_n.asp" method="get" name="form_search" id="form_search"><tr>
            <td style="border-style: none; border-width: medium" width="319">
	<input name="keyword" type="text" id="word" style="height: 33;font-size: 12pt; width:302" value="" size="38"></td>
            <td style="border-style: none; border-width: medium" width="133">
			<input type="submit" style="height: 32;width:49" value=" 搜索 ">
            <input type="button" style="height: 33;width:63" onClick="window.open('/webhp/one_n.asp?action=one_click&keyword='+document.form_search.word.value);" value="搜索群"></td>
            <td align="center" style="border-style: none; border-width: medium"><a href="/search/response/zn/" target="_blank">站内搜索</a><br>
            <a href="/help.asp">搜索帮助</a></td>
          </tr>
        </form>　</td>
	</tr>
</table>不能自适应-->

<!--有冲突直接放弃此方案style>
body{margin:0 0 0 0px;background:#ffffff}
td,div{font-size:12px;line-height:18px}
a{color:#0000ff;text-decoration:underline}
.logo{width:92px}.logo img{border:0}
.tp{float:left;white-space:nowrap;margin-right:10px}
</style>
<FORM name=baicai action=../search.html onSubmit="return f_submit(this)" target=_top>
<tr><td>
<tr>
<td valign=bottom nowrap><input type=text name=q class="s bor" autocomplete="off" title="搜道鲁虺全能图片搜索" value="关键字" style="width:250px" onMouseOver="this.focus()" onBlur="if (this.value =='') this.value='关键字'" onFocus="this.select()" onClick="if (this.value=='关键字') this.value=''">    <input type=submit class="bt" value="综合搜索" style="width:60px;height:25px;margin-left:1px;margin-bottom:1px">
</td-->
</div>
</div>

	
	<div id="recommendations-container" class="row">
	    <!-- 推荐卡片会在这里动态生成 -->
	</div>
	
	
	<nav style="margin-top: 30px;">
	  <div class="d-flex justify-content-center d-none d-xl-flex">
	        <div class="d-flex align-items-center pagination-container w-100">
	            <div class="d-flex justify-content-center align-items-center w-100">
	                <div>
	                    <span id="page-info" class="mx-2"></span>
	                </div>
	                <div class="mx-2">
	                    <input type="text" id="page-input" class="form-control form-control-sm text-center" autocomplete="off">
	                </div>
	                <div class="d-flex align-items-center">
	                    <button id="first-page-button" title="首页" class="btn btn-primary btn-sm">首页</button>
	                    <ul id="pagination" class="pagination justify-content-center">
	                        <!-- 分页按钮将在这里动态生成 -->
	                    </ul>
	                    <button id="last-page-button" title="尾页" class="btn btn-primary btn-sm">尾页</button>
	                </div>
	
	            </div>
	        </div>
	    </div>
	</nav>
	
	
	
	
	<div id="mobile-pagination" class="d-flex align-items-center justify-content-center d-block d-xl-none">
	    <button id="mobile-prev-page-button" title="上一页" class="btn btn-primary btn-sm">上一页</button>
	    <input type="text" id="mobile-page-info" class="form-control form-control-sm text-center" autocomplete="off">
	    <button id="mobile-next-page-button" title="下一页" class="btn btn-primary btn-sm">下一页</button>
	</div>

	
	<div class="content-wrapper">
		<main id="content"></main>
	</div>

	
	
	
	

<!--
<script type="text/javascript">
ad4all_url="http://luhui.net/cn/Netchain";//虺客链[酷站]
document.writeln('<div id="ShowAD" style="position:absolute; z-index: 100;"> ');
document.writeln('<div style="width:100%;height:18px;font-size:14px;font-weight:bold;text-align:right;CURSOR: hand;" onclick="closead();">关闭&nbsp;</div>');
document.writeln('  <iframe scrolling="no" style="width:100%;height:500px;" frameborder="0" src="'+ad4all_url+'"></iframe>');
document.writeln('</div>');

var bodyfrm = ( document.compatMode.toLowerCase()=="css1compat" ) ? document.documentElement : document.body;
var adst = document.getElementById("ShowAD").style;
	adst.top = ( bodyfrm.clientHeight - 218 ) + "px";
	adst.left = ( bodyfrm.clientWidth - 778 ) + "px";
function moveR() {
	adst.top = ( bodyfrm.scrollTop + bodyfrm.clientHeight - 500 ) + "px";
	adst.left = ( bodyfrm.scrollLeft + bodyfrm.clientWidth - 778 ) + "px";
}
setInterval("moveR();", 80);

function closead()
{
	adst.display='none';
}
</script>
Ⱉฅᴛʜɪsᴡᴇᴇᴋ.

ʕง•ᴥ•ʔง

ʕ•ᴥ•ʔ

ʕ ᵔᴥᵔ ʔ

ʕ•̀ ω • ʔ

ʕ•̀ o • ʔ

(•̀ᴗ• ) ̑̑

ฅʕ•̫͡•ʔฅ

(ง ˙o˙)ว

´͈ ᵕ `͈

ฅ⁽͑ ˚̀ ˙̭ ˚ ⁾̉ฅ

⋆ᶿ̵᷄ ˒̼ ᶿ̵᷅⋆

ヽ( ຶ▮ ຶ)ﾉ!!!

´• •`

•﹏•

˃̣̣̥᷄⌓˂̣̣̥᷅

( ⁼̴̀ .̫ ⁼̴ )✧

(•̀⌓• )シ

(๑･▱･๑)

(•̶̑ ૄ •̶̑)

˘̩̩̩ε˘̩ƪ

| ᐕ)⁾⁾

୧⍢⃝୨

( ᐛ )

ꉂ೭(˵¯̴͒ꇴ¯̴͒˵) ”

ꉂ(ˊᗜˋ*)

(⁎⁍̴̛ᴗ⁍̴̛⁎)

ʕ•̫͡• ʔ•̫͡•ཻʕ•̫͡•ʔ•͓͡•ʔ

ᕙ(•̤᷆ ॒ ູ॒•̤᷇)ᕘ

(*´◒`*)

(˃̶͈̀௰˂̶͈ )

( ง⁼̴̀ω⁼̴ )ง⁼³₌₃

(๑⁼̴̀д⁼̴ ๑)

(•ૢ⚈͒⌄⚈͒•ૢ)

₍₍ (̨̡ ‾᷄ᗣ‾᷅ )̧̢ ₎₎

✧ʕ̢̣̣̣̣̩̩̩̩·͡˔· Ɂ̡̣̣̣̣̩̩̩̩✧

( *・ω・)✄╰ひ╯

‎(·•᷄ࡇ•᷅ ）

(◍•ᴗ•◍)

(՞• •՞)

ˁ˙͡˟˙ˀ

⁽(◍˃̵͈̑ᴗ˂̵͈̑)⁽

꒰ꌶ ̯ ̜ꌶ ꒱

ʕ•ﻌ•ʔ

ि०॰०ॢी

(৹ᵒ̴̶̷᷄́ฅᵒ̴̶̷᷅৹)

ꉂꉂ꒰•̤▿•̤*ૢ꒱

( Ꙭ)

•﹏•

(•̀ᴗ• )

o(´^｀)o

~(˶‾᷄ꈊ‾᷅˵)~

̋(๑˃́ꇴ˂̀๑)

๐•ᴗ•๐

( ᵒ̴̶̷̤ꈊ˂̶̤̀ )✧

( ˚ཫ˚ )

(;´༎ຶД༎ຶ`)

/ᐠ｡ꞈ｡ᐟ\

,,Ծ‸Ծ,,

..........ᴅᴜᴅᴜ！

つ♡⊂

ᑋᵉᑊᑊᵒ ᵕ̈ ᑋᵉᑊᑊᵒ

( ˶º̬˶ )୨⚑"

ᕱ⑅ᕱ

₍ᐢ •͈ ༝ •͈ ᐢ₎♡

(⑉꒦ິ^꒦ິ⑉)

( ´•̥×•̥` )

ʕ̯•͡ˑ͓•̯᷅ʔ

´༥`

ฅ ˘ฅ

(๑ᵒ̴̶̷͈᷄ᗨᵒ̴̶̷͈᷅)

ฅ՞•ﻌ•՞ฅ

°꒰๑'ꀾ'๑꒱°

(՞•Ꙫ•՞)

ᕙ(•̤᷆ ॒ ູ•̤᷇)ᕘ₊˚

ʕु•̫͡•ʔु ✧

ᶘ ᵒᴥᵒᶅ

◔.̮◔✧

(ᕑᗢᓫ∗)˒

(*ꈍ꒙ꈍ*)

ꐦ≖ ≖

ഒ

ॱଳॱ

･◡･

꒦ິ^꒦ິ

•́‸ก

ᵕ᷄≀ ̠˘᷅

˙³˙

˃̶͈ ˂̶͈

՞• •՞

๑҉

⚆_⚆

ฅʕ•̫͡•

•ɷ•

દ ᵕ̈ ૩

⚗︎·̫⚗︎

̑̑ᗦ↞◃

૮ ・ﻌ・ა

⎛ -᷄ ᴥ -᷅ ⎞೯

˗ˋˏ ♡ ˎˊ˗

(๑´0`๑)

( •︠ˍ•︡ )

(ˊo̴̶̷̤ ̫ o̴̶̷̤ˋ)

‎|•'-'•) ✧

ฅ •ﻌ•♡

*⸜( •ᴗ• )⸝*

(⸝⸝•‧̫•⸝⸝)

( ૢ⁼̴̤̆ ꇴ ⁼̴̤̆ ૢ)~ෆ

(˶˚ ᗨ ˚˶)

(｡•ᴗ-)_

( ´◔ ‸◔`)

ฅ՞•ﻌ•՞ฅ

( '༥' )

(ˊᵒ̴̶̷̤ꇴᵒ̴̶̷̤ˋ)

(◕ˇ∀ˇ◕。)

（ ་Ꙫ ་）

(•‿•)

(,,•́.•̀,,)

(⁎⁍̴̛ᴗ⁍̴̛⁎)

(•͈˽•͈)

୧(﹒︠ᴗ﹒︡)୨

ȏ.̮ȏ

｡◕‿◕｡

(〃'▽'〃)

｡◕‿◕｡

ㅇㅅㅇ

Ծ‸Ծ

´•ᴥ•`

･ᴥ･

₍ᐢ.ˬ.⑅ᐢ₎

꒰´•͈⌔•͈⑅꒱

=͟͟͞͞ʕ•̫͡•ʔ=͟͟͞͞ʕ•̫͡•ʔ

๑°°๑

՞• •՞

•́‸ก

(°⌓°)

₍ᐢ..ᐢ₎

•̀ᴗ• •̀ᴗ•́

·ꙫ·

˙Ꙫ˙

๐˙Ⱉ˙๐

˃̶͈ ˂̶͈

՞• •՞

˙Ⱉ˙

ง⍢⃝ว

(๑ ꒪ꌂ꒪๑)

ʕ̢·͡˔·ོɁ̡̣

◔.̮◔✧

(ᕑᗢᓫ∗)˒

(*ꈍ꒙ꈍ*)

ꐦ≖ ≖

ฅ ฅ我的爪爪

ʚ ɞ我的翅膀

⚚ 我的魔法棒

ଲ我会害羞

ง ง也会为你加油打气

߹ ߹

•᷄ɞ•᷅

(´ސު｀)

( ˶ ❛ ꁞ ❛ ˶ )

ᓫ(°⌑°)ǃ

୧º̣͙•̥͙º̣͙୨

⛈

⸝⸝· ᴥ ·⸝⸝

ʕ·͡ˑ·ཻʔ

ʕ•̫͡•ོʔ

˃̣̣̥᷄⌓˂̣̣̥᷅

°꒰'ꀾ'꒱°

⋆ᶿ̵᷄ ˒̼ ᶿ̵᷅⋆

˙ϖ˙

^•ﻌ•^

.˗ˏˋ♡ˎˊ˗

・ࡇ・

คค ฅ ฅ

εïз ઇଓ ʚ ɞ

ʕ•̫͡•ʕ*̫͡*ʔ

ʕ•͓͡•ʔ-̫͡-ʔ

ʕ•̫͡•ʔ*̫͡*ʔ-̫͡-ʔ

(´･ᆺ･`)

g˙Ꙫ˙d

✧⁺⸜(˙▾˙)⸝⁺✧

(◠ܫ◠)

(҂`･ｪ･´)

ʕ•̀ o •́ʔ

꒰✩˙˟˙✩꒱

(●´∞`●)

(◍˃̶ᗜ˂̶◍)✩

- ̗̀(ᵔ⌔ᵔ)

ಥ_ಥ ᖗ

( ᐛ )

ᖘ ❛‿˂̵✧

੧ᐛ੭

ʕ˙Ⱉ˙ʔ ♡

੭ ˙ᗜ˙ )੭

૮(ꈔꈊꈔ)ა

₍˄.͡˳̫.˄₎ฅ˒˒

⚆_⚆

ಥ_ಥ

(⚭-⚭ ) ੭

ʚ ྀིɞ 。 ྀི ིྀ ¨̮

ᴳᴼᴼᴰ ᴺᴵᴳᴴᵀ

¨̮ ᴴᴬᵛᴱ ᴬ ᴳᴼᴼᴰ ᵀᴵᴹᴱ દ ᵕ̈ ૩

ε==3 骨頭

(:◎)≡章魚

来段街舞 ጿ ኈ ቼ ዽ ጿ ኈቼ ዽ ጿ ኈ

再来一段ዽ ጿ ኈ ቼ

一直倒立 ቼ ቼ ቼ ቼ ቼ ቼ ቼ

来个单手翻 ኈ

来个滑步ጿ

完整的：ጿ ኈ ቼ ዽ ጿ ኈቼ ዽ ጿ ኈ ጿ ኈ ቼ ዽ ጿ ኈቼ ዽ ኈ ጿ ኈ ቼ ዽ ጿ ኈቼ ዽ ጿ ኈ ጿ ኈ ቼ ዽ ጿ ኈቼ ዽ ጿ ኈ ጿ ኈ ቼ ዽ ጿ ኈቼ ዽ ጿ ኈጿ ኈ ቼ ዽ ጿ ኈቼ ዽ ጿ ኈ ጿ ኈ ቼ ዽ ጿ ኈቼ ዽ ጿ ኈ ጿ ኈ ቼ ዽ ጿ ኈቼ ዽ ጿ ኈ ጿ ኈ ቼ ዽ ጿ ኈቼ ዽ ጿ ኈ ጿ ኈ ቼ ዽ ጿ ኈቼ ዽ ጿ ኈጿ ኈ ቼ ዽ ጿ ኈቼ ዽ ጿ ኈ ጿ ኈ ቼ ዽ ጿ ኈቼ ዽ ጿ ኈ ጿ ኈ ቼ ዽ ጿ ኈቼ ዽ ጿ ኈ ጿ ኈ ቼ ዽ ጿ ኈቼ ዽ ጿ ኈ ጿ ኈ ቼ ዽ ጿ ኈቼ ዽ ጿ ኈ

º ¹ ² ³ ⁴ ⁵ ⁶ ⁷ ⁸ ⁹ （上排数字）

₀ ₁ ₂ ₃ ₄ ₅ ₆ ₇ ₈ ₉ ₊ ₋ ₌ ₍ ₎ （下排数字）

ᵃ ᵇ ᶜ ᵈ ᵉ ᶠ ᵍ ʰ ⁱ ʲ ᵏ ˡ ᵐ ⁿ ᵒ ᵖ ʳ ˢ ᵗ ᵘ ᵛ ʷ ˣ ʸ（小写字母）

ᴬ ᴮ ᒼ ᴰ ᴱ ᴳ ᴴ ᴵ ᴶ ᴷ ᴸ ᴹ ᴺ ᴼ ᴾ ᴼ̴ ᴿ ˢ ᵀ ᵁ ᵂ ˣ ᵞ ᙆ （大写字母）



-->
<br />

	
<!--多语言切换模块开始
<script src="language.js"></script>
<script>
function changeLanguage(obj) { 
    var url = document.URL; 
    var re = re = /[?&]language=[^&]*/; 
    url = url.replace(re, ""); 
    if (url.indexOf("?") > -1) { 
        url += "&language=" + obj.value; 
    } else { 
        url += "?language=" + obj.value; 
    } 
    location.href = url; 
}
</script>
-->
<script>
function changeLanguage(obj) { 
    var url = document.URL; 
    var re = re = /[?&][^&]*/; 
    url = url.replace(re, ""); 
    if (url.indexOf("?") > -1) { 
        url += "&language=" + obj.value; 
    } else { 
        url += "../../" + obj.value; 
    } 
    location.href = url; 
}
</script>

<link id="mktoForms2BaseStyle" rel="stylesheet" type="text/css" href="http://pcfreetime.com/css/forms2.css">

<link rel="stylesheet" type="text/css" href="/css/flags.css" />
<script>
$(document).ready(function(e) {
    $("#language").msDropdown();
});
</script> 

<div class="pull-right ">
<span class="upper-deck-menu-item">当前语言</span>
<span class="lang_sel">
<SELECT NAME="language" id="language" onChange="changeLanguage(this)"> 
		 
<OPTION VALUE="en"  data-image="/images/blank.gif" data-imagecss="flag en" data-title="English">English</OPTION>; 
 
<OPTION VALUE="zh" selected = 'selected'  data-image="/images/blank.gif" data-imagecss="flag zh" data-title="简体中文">简体中文</OPTION>; 
 
<OPTION VALUE="jp"  data-image="/images/blank.gif" data-imagecss="flag ja" data-title="日本の">日本の</OPTION>; 
 
<OPTION VALUE="ko"  data-image="/images/blank.gif" data-imagecss="flag kr" data-title="한국어">한국어</OPTION>; 
 
<OPTION VALUE="de"  data-image="/images/blank.gif" data-imagecss="flag de" data-title="Deutsch">Deutsch</OPTION>; 
 
<OPTION VALUE="es"  data-image="/images/blank.gif" data-imagecss="flag es" data-title="Español">Español</OPTION>; 
 
<OPTION VALUE="fr"  data-image="/images/blank.gif" data-imagecss="flag fr" data-title="Français">Français</OPTION>; 
 
<OPTION VALUE="it"  data-image="/images/blank.gif" data-imagecss="flag it" data-title="Italiano">Italiano</OPTION>; 
 
<OPTION VALUE="ru"  data-image="/images/blank.gif" data-imagecss="flag ru" data-title="Русский">Русский</OPTION>; 
 
<OPTION VALUE="pt"  data-image="/images/blank.gif" data-imagecss="flag pt" data-title="Português">Português</OPTION>; 
 
<OPTION VALUE="hi"  data-image="/images/blank.gif" data-imagecss="flag hi" data-title="हिन्दी">हिन्दी</OPTION>; 
 
     
</SELECT> 
</span>


</div>
</div>
<!--多语言切换模块结束-->





	<div class="footer-inner">
<p align="center"> Copyright&nbsp;  &#169; 2004-01-11&nbsp;<a href="http://luhui.net" title="鲁虺文化网" target="_top">luhui.net</a>&nbsp;all rights reserved.</p>	
		<div id="back-to-top-btn" style="display:none;">
		    <i class="fas fa-angle-double-up" style="font-size: 25px;"></i>
		</div>


		<div class="footer-inner">
		    <div id="back-to-top-btn" style="display:none;">
		        <i class="fas fa-angle-double-up" style="font-size: 25px;"></i>
		    </div>
		
		    <div id="share-switcher-btn">
		        <i class="fa-brands fa-weixin"></i>
		    </div>
		
		    <div id="share-popup" class="share-popup">
		        <div class="share-popup-content">
		            <img id="qrcode" src="./assets/images/flags/weixin.png" alt="二维码" />
		        </div>
		        <div class="copy-btn-container">
		            <button id="copy-btn" class="share-popup-copy-btn">扫码联系</button>
		        </div>
		    </div>
		</div>

		
		<div id="color-switcher-btn">
		    <i class="sun-icon fas fa-sun"></i>
		    <i class="moon-icon fas fa-moon"></i>
		</div>
		
		<div id="language-switcher-btn">
<i class="fas fa-language"></i>
		</div>
		
		


	</div>
</div>
		</div>
	</div>


	<script src="./assets/js/ultimateevolution.js"></script>
	<script src="./assets/js/news.js"></script>


<!-- 广告位 tag (gtag.js) -->
	<script>
		document.addEventListener('contextmenu', function(event) {
		  event.preventDefault();
		});
	
		
	</script>
	<script src="/js/tongji.js"></script>	
	<script src="./assets/js/lozad.js"></script>
	<script src="./assets/js/color.js"></script>
</body>

</html>