BODY {
	MARGIN-LEFT: 5%; COLOR: black; MARGIN-RIGHT: 5%; BACKGROUND-COLOR: white
}
H2 {
	MARGIN-TOP: 10px; FONT-SIZE: 95%; MARGIN-LEFT: -1%; COLOR: #000000; FONT-FAMILY: geneva,arial,tahoma,helvetica,sans-serif
}
H3 {
	FONT-SIZE: 85%; MARGIN-LEFT: -1%; COLOR: #000000; FONT-FAMILY: geneva,arial,tahoma,helvetica,sans-serif
}
H4 {
	FONT-SIZE: 75%; COLOR: #000000; FONT-FAMILY: geneva,arial,impact,tahoma,helvetica,sans-serif
}
